---
const { class: className = "", ...rest } = Astro.props;
---

<span class:list={["inline-flex items-center gap-1.5 font-semibold tracking-tight", className]} {...rest}>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 text-accent-700">
    <path d="M9.75 17.25c0 1.243-1.007 2.25-2.25 2.25S5.25 18.493 5.25 17.25 6.257 15 7.5 15s2.25 1.007 2.25 2.25ZM18.75 17.25c0 1.243-1.007 2.25-2.25 2.25s-2.25-1.007-2.25-2.25S15.257 15 16.5 15s2.25 1.007 2.25 2.25Z"/>
    <path fill-rule="evenodd" d="M7.5 6a.75.75 0 0 1 .75.75v5.69l8.47-8.47a.75.75 0 0 1 1.06 1.06l-2.557 2.557c.569.503.927 1.235.927 2.05C16.15 11.233 14.9 12.5 13.35 12.5a2.826 2.826 0 0 1-1.5-.43v.18a.75.75 0 0 1-1.5 0V7.5A.75.75 0 0 1 7.5 6Z" clip-rule="evenodd"/>
  </svg>
  Barbería
</span>
