---
import { Image } from "astro:assets";
import avatar from "@/images/avatar.jpg";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-20">
    <div class="text-center max-w-4xl mx-auto">
      <blockquote
        class="text-2xl leading-tight tracking-tight sm:text-3xl md:text-4xl lg:text-5xl text-base-900 italic font-medium"
      >
        "Desde que empezamos a usar el sistema, las citas se organizan solas.
        Mis clientes reservan desde su celular y nunca más perdemos una venta
        por falta de agenda."
      </blockquote>
      <figcaption class="flex text-left justify-center mt-8">
        <div class="flex items-center gap-4">
          <Image
            alt="Carlos Mendez"
            width={48}
            height={48}
            src={avatar}
            class="object-cover rounded-full size-12"
          />
          <div>
            <Text tag="h3" variant="textSM" class="text-base-900 font-medium">
              Carlos Mendez
            </Text>
            <Text tag="p" variant="textSM" class="text-base-500">
              Dueño de Barbería
            </Text>
          </div>
        </div>
      </figcaption>
    </div>
  </Wrapper>
</section>
